

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.text {
  text-align: left;
  margin-bottom: 50px;
}

.darkMode {
  background-color: var(--bg-dark);
  color: var(--text-secondary);
  filter: brightness(0.98);
}



.text h1 {
  font-size: 90px;
  letter-spacing: 8px;
  font-family: 'Norican', cursive;
  color: #5a9cf3;
  text-shadow: +0.6px +0.6px #193e6e, -0.6px -0.6px #193e6e;
}

.text h3 {
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.portrait {
  width: 40%;
  border-radius: 50%;
  border: 10px solid #347ad7;
  box-sizing: border-box;
}

@media all and (max-width: 1135px) {
  .content {
    flex-direction: column;
  }

  .portrait {
    order: 1;
    width: 40%;
  }

  .text {
    order: 2;
  }

  .text h1 {
    font-size: 70px;
  }

  .text h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    margin-top: -70px;
    width: 80%;
    height: 80%;
  }

  .portrait {
    width: 60%;
    border: 7px solid #347ad7;
  }

  .text h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 490px) {
  .portrait {
    width: 200px;
    height: 200px;
    transform: translateY(-30px);
  }

  .text h1 {
    font-size: 40px;
    transform: translateY(-30px);
  }

  .text h3 {
    font-size: 16px;
    transform: translateY(-30px);
  }
}

@media only screen and (max-width: 365px) {
  .portrait {
    width: 70%;
    transform: translateY(-20px);
  }

  .text h1 {
    font-size: 35px;
    transform: translateY(-20px);
  }

  .text h3 {
    font-size: 14px;
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 330px) {
  .portrait {
    width: 200px;
    height: 200px;
    transform: translateY(-0px);
  }

  .text h1 {
    font-size: 30px;
    transform: translateY(-0px);
  }

  .text h3 {
    font-size: 12px;
    transform: translateY(-0px);
  }
}

@media only screen and (max-width: 300px) {
  .portrait {
    width: 200px;
    height: 200px;
  }

  .text h1 {
    font-size: 20px;
    text-align: center;
  }

  .text h3 {
    font-size: 10px;
  }
}
