/***** Color Panel *****/
:root {
  --text-primary: #0a2d5b;
  --text-secondary: #ececec;
  --icon-primary: #79dcfa;
  --icon-selected: #fca5df;
  --bg-primary: #0662dd;
  --bg-secondary: #074ba5;
  --bg-dark: rgb(29, 37, 77);
}
/***********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  background: #fef5b6;
  background: linear-gradient(94deg, rgb(248, 242, 191) 0%, rgb(253, 235, 153) 100%);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #1166d6;
}

main {
  margin-left: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.darkMode {
  background-color: var(--bg-dark);
  /* color: var(--text-secondary); */
  filter: brightness(0.98);
}

@media only screen and (max-width: 1190px) {
  .rectangle {
    display: none;
  }
}
