.section {
  min-height: 100vh;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-items: center;
  align-content: center;
  gap: 20px;
}

@media only screen and (min-width: 1600px) {
  .section {
    padding-left: 150px;
    padding-right: 150px;
    gap: 50px;
  }
}
