.section {
  min-height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.content {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 340px 1fr;
  align-content: center;
  gap: 0;
}

.portrait {
  width: 340px;
}

.landscape {
  width: 600px;
}


.title {
  filter: brightness(1.6);
  text-decoration: underline;
  margin-bottom: 30px;
  position: absolute;
  margin-top: 50px;
}

.content > figure {
  height: 415px;
}

.content img {
  max-height: 320px;
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 3px;
}

.content img:hover {
  filter: brightness(1.02);
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.25) 4px 4px 3px;
}

.content p {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 3px;
  margin-left: 70px;

}

.content > figure > p > a {
  color: rgb(243, 101, 124);
}

.content b {
  font-size: 14px;
  filter: brightness(1.7);
}

@media only screen and (max-width: 600px) {
  .title {
    margin-bottom: 0px;
  }

  .content figure {
    margin-top: 30px;
  }

  .content figcaption {
    text-align: center;
  }
}

@media only screen and (max-width: 100px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landscape {
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
  }

  .landscape img{
    width: 100%;
  }

  .landscape p{
    margin-left: 5px;
  }
}