.section {
  display: grid;
  place-items: center;
}

.content {
  width: 90%;
  height: 90%;
  padding: 100px;

  display: grid;
  grid-template-columns: 40% 40%;
  align-items: center;
  justify-content: center;
  gap: 80px;

  /* border: 2px solid red; */
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  /* height: 60vh; */
  /* border: 2px solid green; */
}

.skills {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 3px;
  max-width: 330px;
}

.skills:hover {
  filter: brightness(1.05);
}

.link {
  width: 100%;
}

.button {
  width: 100%;
  /* max-width: 350px; */
  max-width: 330px;
  height: 80px;
  /* flex-grow: 2; */
  border-radius: 20px;
  background: #1380d7;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 3px;
  /* max-height: 100px; */
  /* min-height: 70px; */
}

button:hover {
  /* background: #0e65ad; */
  cursor: pointer;
  filter: brightness(1.1);
}

.right {
  /* height: 60vh; */

  /* border: 2px solid green; */
}

.resume {
  /* display: block; */
  /* max-height: 60vh; */
  max-width: 410px;
  /* max-width: 400px; */
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.resume:hover{
  /* border: 3px solid red; */
  filter: brightness(1.05);
}
