/***** Color Panel *****/
:root {
  --icon-primary: #79dcfa;
  --text-secondary: #ececec;
  --icon-selected: #fca5df;
  --bg-primary: #0662dd;
  --bg-secondary: #074ba5;
  --bg-dark: rgb(29, 37, 77);
}
/***********************/

* {
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  background: #FFF6D4;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  padding-bottom: 1000px;

  text-align: center;
}

main p {
  margin-top: 20px;
  text-align: justify;
}

main section {
  height: 95vh;
}

.rectangle {
  width: 30%;
  height: 100vh;
  background: #88DAF7;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -10;
}

.darkMode {
  background: var(--bg-dark);
  color: var(--text-secondary);
}
